* {
	margin: 0;
	padding: 0;
}

.site-content {
	font-family: helvetica;
	margin: 0;
	padding: 0;
	display: block;
}

.hero {
	text-align: center;
	padding: 6rem 0;
	margin-bottom: 0;
	background-color: indigo;
	height: 100%;
	width: auto;
}

h1 {
	margin: 0;
	display: block;
}

h1 .subtitle {
	font-family: roboto;
	font-size: 130%;
}

input[type=text] {
	width: 28%;
	padding: 7px 10px;
	margin: 1.5rem;
	display: inline-block;
	border: none;
	border-radius: 20px;
	box-sizing: border-box;
	background-color: aqua;
}

button[type=submit] {
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 5px;
	text-decoration: none;
	background-color: aqua;
	margin: 0 0 0 4px;
	padding: 7px 10px;

}

.list-taman {
	display: flex;
	flex-wrap: wrap;
	margin: 4rem 5rem 0 5rem;
	padding: 0 15px;
	max-width: 100%;
	height: auto;
}

.taman {
	margin-bottom: 2rem;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: .50rem;
	float: left;
	width: 30%;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.taman:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a {
	text-decoration: none;
}

img {
	height: auto;
	display: block;
	vertical-align: middle;
	max-width: 100%;
	margin: auto;
}

.footer {
	text-align: center;
	left: 0;
	bottom: 0;
	max-width: 100%;
	background-color: grey;
	color: white;
	margin-top: 10px; 
	padding: 2rem;
}