* {
	margin    : 0;
	padding   : 0;
	border    : 0;
	box-sizing: border-box;
}

body {
	color : #484848;
	max-width: 100%;
	height: auto;
}

.container {
	font-family     : Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	background-color: transparent;
}

.list-cont {
	position        : relative;
	margin          : auto 2rem;
}

.list-cont a {
	float          : right;
	display        : block;
	color          : grey;
	text-align     : center;
	padding        : 14px 16px;
	text-decoration: none;
	font-size      : 15px;
	transition     : 0.5s;
}

.list-cont a:hover {
	border-bottom: 2px solid #484848;
	color        : #655f5f;
}

.list-cont a.active {
	color        : black;
	border-bottom: 2px solid #484848;
}

.sticky {
	position: fixed;
	top     : 0;
	width   : 100%;
}

.sticky + .content {
  padding-top: 60px;
}




		/*end of navbar*/




.banner {
	margin : auto;
	padding: 10rem 12rem 5rem 12rem;
}

.banner-inner {
	margin: 10px;
}

.title-banner, .subtitle-banner {
	display  : block;
	color    : #FF5A5F;
	font-size: 3rem;
}

.banner-inner > p {
	display  : block;
	font-size: 3rem;
}

.banner form{
	max-width: 100%;
	margin   : 70px auto 0;
	position : relative;
}

.banner form input{
	width        : 100%;
	font-size    : 16px;
	padding      : 20px 70px 25px 25px;
	border-radius: 5px;
	border       : 2px solid transparent;
	box-shadow   : 1px 2px 16px 1px rgba(0,0,0,0.2);
	outline      : none;
	transition   : border-color 300ms ease-out;
}

.banner form input:focus{
	border: 2px solid #57adfe;
}

.banner form button{
	position     : absolute;
	top          : 5px;
	bottom       : 5px;
	right        : 18px;
	font-size    : 20px;
	color        : white;
	border       : 1px solid transparent;
	border-radius: 3px;
	box-shadow   : 1px 2px 16px 1px rgba(0,0,0,0.2);
	margin       : auto;
	padding      : 4px 15px;
	background   : #FF5A5F;
}




		/*end of Banner*/





.main {
	margin: auto;
	padding: 5rem 8rem;
}

.grid-title {
	color: #FF5A5F;
	font-size: 2rem;
	display: block;
	margin: 1rem auto;
}

.grid-item {
	max-width: 100%;
	margin: 5rem auto;
	position: relative;

}

h2 , .carousel-title {
	font-weight: normal;
	font-size: 2rem;
	display: inline-block;
}

.explore-content {
	left: 78%;
	position: relative;
}

.explore-content > a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	padding: 5px;
	color: #484848;
	font-size: 15px;
}

.grid-content {
	width: 100%;
	padding: 0 2px;
	border: 1px solid transparent;
	border-radius: 5px;
}

.grid-content > a {
	text-decoration: none;
}

.main-content {
	width: auto;
	margin: auto;
	height: 100%;
}

figure , img {
	max-width: 100%;
	margin: auto;
	border: 1px solid transparent;
	border-radius: 5px;
}

.content-detail {
	margin: auto;
	padding: 5px;
	color: #484848
}

.subtitle , .title {
	display: inline-block;
	font-size: 1rem;
	line-height: 30px;
}

.content-detail > p {
	display: block;
	font-size: 13px;
}

.grid-item .grid-slider.slick-slide {
	clear: none;
}

.grid-item .slick-prev,
.grid-item .slick-next{
	position: absolute;
	border: 1px solid transparent;
	border-radius: 50px;
	box-shadow   : 1px 2px 16px 1px rgba(0,0,0,0.2);
	background-color: white;
	color: #484848;
	z-index: 1;
	outline: none;
	width: 40px;
	height: 40px;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 25px;
}

.grid-item .slick-prev:hover , .grid-item .slick-next:hover{
	box-shadow   : 1px 2px 16px 2px rgba(0,0,0,0.5);
} 

.grid-item .slick-next{
	left: 98%;
}

.grid-item .slick-prev {
	right: 98%;
}



		/*end of main section*/




.footer {
	width           : auto;
	height          : 4rem;
	font-size       : 15px;
	text-align      : center;
	margin          : auto;
	background-color: transparent;
	display         : block;
}

.footer > p {
	line-height: 4rem;
}